.grid {
	width: 600px;
	height: 600px;
	border: solid black 1px;
	display: flex;
	flex-wrap: wrap;
    margin: auto;
}
  
.grid div {
    width: 40px;
    height: 40px;
  }
  
  .invader {
    background-color: purple;
    border-radius: 20px;
  }
  
  .shooter {
    background-color: blue;
  }

  .boom {
      background-color: orange;
  }
  
  .laser {
      background-color: red;
  }

  h1 {
      text-align: center;
  }
